<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <h5>Parâmeros</h5>
            </p-toolbar>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label htmlFor="firstname2">Parametro</label>
                    <input pInputText id="firstname2" type="text" />
                </div>
            </div>
            <button
                pButton
                pRipple
                label="Salvar"
                icon="pi pi-save"
                class="p-button-success mr-2"
            ></button>
        </div>
    </div>
</div>
